/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * BASE
 * Headings.............H1–H6 styles.
 * Paragraphs...........Paragraph styles.
 *
 * Universal
 * Container Primitives...Wrapping and constraining elements.
 * Font Primitives.......Generic font styles.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * Media queries
 * Medium...............Media queries for medium screens
 *
 */

/*------------------------------------*\
  Settings
\*------------------------------------*/

:root {
  --header-font: 'Nunito', sans-serif;

  --blue: #c6def1;
  --green: #c9e4de;
  --purple: #dbcdf0;
  --pink: #f2c6de;
  --peach: #f9c6c9;
}

* {
  box-sizing: border-box;
}

/*------------------------------------*\
Base
\*------------------------------------*/

h1 {
  font-family: var(--header-font);
  font-size: 2rem;
  font-weight: lighter;
}

/*------------------------------------*\
Universal
\*------------------------------------*/
.wrapper {
  width: 90%;
  min-height: 500px;
  margin: auto;
  border: solid 1px blue;
}

/* .center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
} */

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
}

.box {
  width: 100px;
  height: 100px;
  border: 1px solid pink;
}

/*------------------------------------*\
Components
\*------------------------------------*/

.blue {
  background: var(--blue);
}

.green {
  background: var(--green);
}

.purple {
  background: var(--purple);
}

.peach {
  background: var(--peach);
}

.header {
 
}

.column-one {
  
}

.column-two {
  
}

.footer {
  
}


/*------------------------------------*\
Media queries
\*------------------------------------*/
